/* =============================================================================
======================== GLOBAL & MIXINS    ====================================
================================================================================ */
@mixin full-width {
    width: 100vh;
}

p, h4, ul {
    font-size: 1.2rem;
}
/* =============================================================================
======================== /GLOBAL & MIXINS    ===================================
================================================================================ */

/* =============================================================================
======================== INTRO SECTION       ===================================
================================================================================ */
.intro-content {
    font-size: 1.4rem;
    padding-left: 35px;
}
/* =============================================================================
======================== /INTRO SECTION      ===================================
================================================================================ */

/* =============================================================================
======================== CV SECTION            =================================
================================================================================ */
.cv-list {
    display: flex;
}

.cv-job {
    margin-right: 10px;
    @include full-width;
    padding-right: 10px;
}

.cv-education {
    @include full-width;
    padding-left: 10px;
}

.cv-education h3{
    margin-top: 0;
}

.skills-section h3 {
    margin-top: 15px;
}
/* =============================================================================
======================== /CV SECTION           =================================
================================================================================ */

/* =============================================================================
======================== CONTACT SECTION       =================================
================================================================================ */
.contact-details {
    font-size: 1.4rem;
}
/* =============================================================================
======================== /CONTACT SECTION      =================================
================================================================================ */